<!-- projects.html -->
<section id="projects" class="space-y-6">
  <div hx-get="beatspeak-summary.html" hx-trigger="load"></div>
  <div hx-get="Driocht-summary.html" hx-trigger="load"></div>
  <div hx-get="NMT-summary.html" hx-trigger="load"></div>
  <div
    hx-get="Autonomous-Object-Detection-summary.html"
    hx-trigger="load"
  ></div>
  <div hx-get="Autonomous-Navigation-summary.html" hx-trigger="load"></div>
  <div hx-get="Autonomous-Drone-summary.html" hx-trigger="load"></div>
  <div hx-get="Autonomous-Car-summary.html" hx-trigger="load"></div>
</section>
