<section id="projects" class="space-y-6">
  <div hx-get="summary/Beatspeak" hx-trigger="load"></div>
  <div hx-get="summary/Driocht" hx-trigger="load"></div>
  <div hx-get="summary/NMT" hx-trigger="load"></div>
  <div hx-get="summary/Autonomous-Object-Detection" hx-trigger="load"></div>
  <div hx-get="summary/Autonomous-Navigation" hx-trigger="load"></div>
  <div hx-get="summary/Autonomous-Drone" hx-trigger="load"></div>
  <div hx-get="summary/Autonomous-Car" hx-trigger="load"></div>
</section>
